<p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" id="title">TOUS NOS PRODUITS EN VENTE SUR LE SITE:</p>


<div class='container mt-3'>
    <p class=" h4  mb-5 mx-1 mx-md-4 mt-4"> <u>Filtrer par:</u> </p>
    <div class=" h5 form-check">
        <input type="checkbox" (click)='asc()'>Prix croissant
    </div>
    <div class=" h5 form-check"><input type="checkbox" (click)='desc()'>Prix décroissant</div>
    <div class=" h5 form-check"> <input type="checkbox" (click)='masc()'>Marque</div>
    <br>
    <div class=" h5 form-group">
        Min : <input type="number" min=0 [(ngModel)]='min'>
        Max : <input type="number" min=0 [(ngModel)]='max'>
        <button  class="btn btn-info" (click)="prixbetween()">Filtrer</button>
    </div>
</div>
<!-- <div class='mx-auto w-75'>
    <button class="btn btn-primary"   (click)='asc()'>Prix croissant</button><br>
    <button (click)='desc()'>Prix décroissant</button><br>
    <button (click)='masc()'>Marque</button><br>
    Min : <input [(ngModel)]='min'>
    Max : <input [(ngModel)]='max'>
    <button (click)="prixbetween()">Filtrer par prix</button>
</div> -->
<div class="row row-cols-1 row-cols-md-6">
    <div *ngFor="let x of MyList; let index = index;" class="text-black">

        <div class="column">
            <div class="card">
                <div class="row-md-3 mb-2" (click)="findArticle(x.id)">

                    <img src="{{x.url}}" style="width:100%">


                </div>
                <div class="bgColor row-md-3 mb-0 mt-0">
                    <p>{{x.description}}</p><br>

                    <p *ngIf="ispromo" class="lead">
                        <span class="mr-1 text-danger">
                            <strong><del>{{x.prix}}€ </del></strong>
                        </span>
                        <strong><span>{{calculPromo(x.prix)}}€</span></strong>
                    </p>
                    <p *ngIf="!ispromo" class="lead">

                        <strong><span>{{x.prix}}€</span></strong>
                    </p>
                    <p class="text-success">{{x.marque}}</p>


                </div>
                <div class="card-body">


                    <div *ngIf="stock">
                        <button type="button" class="btn btn-outline-dark" (click)="addCart(x)">Ajouter au panier</button>
                        <!-- <p>{{article.stock}} articles en stock</p> -->
                    </div>
                    <div *ngIf="!stock">
                        <button type="button" class="btn btn-success" (click)="addCart(x)" disabled>ajouter</button>
                        <p>En rupture de stock</p>
                    </div>
                </div>
            </div>

        </div>
    </div>