<div class="px-5 ms-xl-4">
    <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
    <span class="h1 fw-bold mb-0">Mise à jour d'un article</span>
</div>

<section class="vh-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 text-white">

              

                <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

                    <div class="container">
                        <form style="width: 23rem;">

                            <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"> <strong>
                                    ID </strong>
                            <div class="form-outline">
                                <input type="number" name="login" [(ngModel)]="article.id" id="form2Example18"
                                    class="form-control form-control-lg" readonly />
                            </div>

                            <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                                <strong>MARQUE </strong>
                            <div class="form-outline ">
                                <input type="text" name="marque" [(ngModel)]="article.marque" id="form2Example28"
                                    class="form-control form-control-lg" />
                            </div>

                            <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                                <strong>PRIX</strong>
                            <div class="form-outline ">
                                <input type="number" name="prix" [(ngModel)]="article.prix" id="form2Example18"
                                    class="form-control form-control-lg" />
                            </div>

                            <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                                <strong>DESCRIPTION </strong>
                            <div class="form-outline">
                                <input type="text" name="description" [(ngModel)]="article.description"
                                    id="form2Example28" class="form-control form-control-lg" />
                            </div>

                            <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                                <strong>URL </strong>
                            <div class="form-outline">
                                <input type="text" name="url" [(ngModel)]="article.url" id="form2Example28"
                                    class="form-control form-control-lg" />
                            </div>

                            <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                                <strong>STOCK </strong>
                            <div class="form-outline">
                                <input type="number" name="stock" [(ngModel)]="article.stock" id="form2Example28"
                                    class="form-control form-control-lg" />
                            </div>

                            <div class="form-outline">
                                <input type="hidden" name="version" [(ngModel)]="article.version"
                                    class="form-control form-control-lg" />
                            </div>

                            <div class="pt-2 mb-3">
                                <button class="btn btn-info btn-lg btn-block" type="button" (click)="update()"
                                    style="object-position: center;">MODIFIER</button>

                            </div>

                            <div class="pt-2 mb-3">

                                <div class="alert alert-success">
                                    <strong>{{message}}</strong>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>

            </div>
            <div class="col-sm-4  px-0 d-none d-sm-block">
                <img src="{{article.url}}" alt="Login image" class="rounded w-30 vh-30"
                    style="object-position: left;">

            </div>
        </div>
    </div>
</section>
