.info{
    background-color:rgb(251,204,204);;
}

.search-container button:hover {
    background: rgb(4,155,155);
    width: 50;
    object-position: center;
  }

  #s1{
    border-radius: 20px;
    border-color: rgb(4,155,155);
    border-block-width: 6px;

}

.row {
  display: flex;
  margin: 0 -5px;
}


/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
}


