

<!-- Carousel -->
<div class="position-relative">
  <div id="demo" class="carousel slide " data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active" data-mdb-interval="300">
        <img src="/assets/images/test1v2.jpg" alt="1" class="d-block w-100">
      </div>

      <div class="carousel-item" data-mdb-interval="300">
        <img src="/assets/images/promo2.jpg" alt="2" class="d-block w-100">
      </div>

      <div class="carousel-item" data-mdb-interval="300">
        <img src="/assets/images/offrebienvenue.jpg" alt="3" class="d-block w-100">
      </div>


    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Précédent</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Suivant</span>
    </button>
  </div>
</div>