


  <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="/assets/images/affiche2.jpg"
            class="img-fluid" alt="pub">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form [formGroup]="signInForm" (ngSubmit)="loginv4()">
            <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
          <div class="mb-3 mt-3" >
            <label class="h6">Adresse Email: <span *ngIf="controlForm['email'].errors">
              *  </span></label>
            <input type="email" class="form-control" formControlName="email" >
            <div *ngIf="controlForm['email'].touched && controlForm['email'].errors" class="alert alert-danger">
              <div *ngIf="controlForm['email'].errors['required']">Ce champ est requis</div>
              <div *ngIf="controlForm['email'].errors">cet email est invalide</div>
            </div>

            <div class="md-3 mt-3">
              <label class="h6">Password : <span *ngIf="controlForm['password'].errors">
                *  </span></label>
                <div class="input-group ">
                  <input [type]="fieldTextType1 ?'text':'password'" class="form-control" formControlName="password">
                  <div class="input-group-prepend">
                    <button type="button"    (click)="toogleFieldText1() " class="input-group-text theme-btn--dark1 btn--md show-password">show</button>
                     </div>
                  <div *ngIf="controlForm['password'].touched && controlForm['password'].errors" class="alert alert-danger">
                    <div *ngIf="controlForm['password'].errors['required']">Ce champ est requis</div>

                  </div>
               </div>
               </div>
               <div class="col">
                <div class="border-top">
                    <a  routerLink="/reset-password" class=" ">Mot de passe oublié </a>
                </div>
              </div>
               </div>
               <button type="submit" class="btn btn-primary" [disabled]="signInForm.invalid">Me connecter</button>
        </form>

            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                 Se souvenir de moi
                </label>
              </div>
              <a href="/updatepass" class="text-body">Mot de passe oublié?</a>
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">

              <p class="small fw-bold mt-2 pt-1 mb-0">Vous n'avez pas encore de compte? <a href="/subscribe"
                  class="link-danger">Créer un nouveau compte</a></p>
            </div>


        </div>
      </div>
    </div>

  </section>
