.gradient-custom {
    /* fallback for old browsers */
    background: #f1d7e9;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(243, 232, 239), #f5c4e5);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right,   rgb(243, 232, 239), #f5c4e5)
    }